:root {
  --background: yellow;
  --price: #0575e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #021b79,
    #0575e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #021b79,
    #0575e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background: rgb(9, 9, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 14%,
    rgba(255, 226, 0, 1) 53%,
    rgba(2, 0, 36, 1) 85%
  );
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  /* animation-name: bokita; */
  /* background: var(--background); */
  font-size: 20px;
}

/* nav.bar */

.nav-bar,
.nav-list {
  font-size: 23px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: rgb(0, 0, 0);
}

.buscador {
  font-size: 15px;
  background-color: rgb(240, 224, 8);
  padding: 8px;
  display: flex;
  border-radius: 20px;
}

.bokita {
  padding: 30px;
  width: 100%;
  animation: bokita 4s infinite 0s linear reverse;
}

@keyframes bokita {
  0% {
    background: blue;
  }
  100% {
    background: yellow;
  }
}

.boca {
  width: 130px;
}

.nav-list {
  gap: 50px;
}

/* Descripcion */

.Intro {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 60px;
}

.hinchada {
  padding: 5px;
  border-radius: 10px;
  width: 20%;
}

.descripcion {
  width: 40%;
  font-size: 3rem;
  color: black;
}

/* Indumentaria M/F* */

.jugador {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 30px;
  width: 500px;
  height: 500px;
}

.masculino {
  border-radius: 20px;
  max-width: 100%;
}

.femenino {
  border-radius: 20px;
  max-width: 50%;
}
.container,
.genero {
  flex-direction: column;
  font-size: 30px;
  max-width: 60%;
}

.genera {
  max-width: 60%;
  font-size: 30px;
}

/* Secciones/Ofertas */

.ofertas {
  display: flex;
  width: 100%;
}

.encabezado {
  padding: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  justify-content: flex-start;
  align-items: flex-start;
  color: rgb(238, 255, 0);
  width: 200px;
  font-size: 2rem;
}

.casacas {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 60px;
}

.oferta1 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price {
  background-color: var(--price);
  border-radius: 20px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

span {
  text-decoration: line-through;
}

.una {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
}

.dos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
}

.tres {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
}

.categorias {
  display: flex;
  padding: 70px;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

.button {
  font-size: 1.5rem;
  color: var(--background);
  font-weight: bold;
  background-color: var(--price);
  padding: 10px 20px;
  border-radius: 20px;
}
