:root {
  --background: yellow;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background: rgb(9, 9, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 14%,
    rgba(255, 226, 0, 1) 53%,
    rgba(2, 0, 36, 1) 85%
  );
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  /* animation-name: bokita; */
  /* background: var(--background); */
  font-size: 20px;
}

.nav-bar,
.nav-list {
  font-size: 23px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: rgb(0, 0, 0);
}

.buscador {
  font-size: 15px;
  background-color: rgb(240, 224, 8);
  padding: 8px;
  display: flex;
  border-radius: 20px;
}

.bokita {
  padding: 30px;
  width: 100%;
  animation: bokita 4s infinite 0s linear reverse;
}

@keyframes bokita {
  0% {
    background: blue;
  }
  100% {
    background: yellow;
  }
}

.boca {
  width: 130px;
}

.nav-list {
  gap: 50px;
}

.Intro {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 60px;
}

.hinchada {
  padding: 5px;
  border-radius: 10px;
  width: 20%;
}

.descripcion {
  width: 40%;
  font-size: 3rem;
  color: black;
}

.jugador {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 50px;
  width: 500px;
  height: 500px;
}

.masculino {
  border-radius: 20px;
  max-width: 100%;
}

.femenino {
  border-radius: 20px;
  max-width: 50%;
}
.container,
.genero {
  flex-direction: column;
  font-size: 30px;
  max-width: 60%;
}

.genera {
  max-width: 30%;
  font-size: 30px;
}

.ofertas {
  width: 100%;
  height: 400px;
  background: red;
}

.encabezado {
  width: 20%;
  font-size: 2rem;
  background: blue;
  text-align: start;
  color: transparent;
}
